<% include ./partials/header.ejs %>



<div class="container">
<p><h1>Favorite Hot Flops:</h1></P>
<form id='favoritesForm'>
    <% for (i=0; i< favorites.length; i++) { %>
        <div class="formgroup">
                
                <label for="favoritesTitle">Title: </label>
                <input type="text" class="form-control form-control-lg" id="favoritesTitle"  value="<%=favorites[i].title %>"/>
                <!--Poster:  <%=favorites.poster_path%><br>-->
                <label for="favoritesReleaseDate">Release Date: </label>
                <input type="text" class="form-control form-control-lg" id="favoritesReleaseDate" value="<%=favorites[i].release_date %>"/>
                <label for="favoritesOverview">Plot Overview: </label>
                <input type="text" class="form-control form-control-xl" id="favoritesPlotOverview" value="<%=favorites[i].overview %>"/>
                <label for="favoritesIMDB">IMDB Id: </label>
                <input type="text" class="form-control form-control-lg" id="favoritesId" value="<%=favorites[i].id %>"/>
                <label for="favoritesRating">Average Rating: </label>
                <input type="text" class="form-control form-control-lg" id="favoritesRating" value="<%=favorites[i].vote_average%>"/>
            
                <button class= "btn btn-primary" id="deleteButton" type='submit'>Delete</button>
            </div>      
            <%  }; %>     
        </form>
  
     
<script type="text/javascript" src="main.js"></script>
<% include ./partials/footer.ejs %>