<% include ./partials/header.ejs %>
Here's a shit flick:<br>
Title:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].title %><br>
Poster:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].poster_path%><br>
Release Date:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].release_date %><br>
Plot Overview:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].overview %><br>
IMDB Id:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].id%><br>
Rating:  <%=jsonBody.results[Math.floor((Math.random() * 10) + 1)].vote_average%>

<button onclick="myFunction()">Find me another</button>
<br>
<br>
<script>
function myFunction() {
    location.reload();
}
</script>


<% include ./partials/footer.ejs %>