<!-- generates the form that displays the returned API movie data, and makes it ready to save since it is a form-->
<% include ./partials/header.ejs %>

<div class="container">
<p><h1>Flop incoming:</h1></P>
<form id='movieForm'>
    <div class="formgroup">
        
        <label for="resultTitle">Title: </label>
        <input type="text" class="form-control form-control-lg" id="resultTitle"  value="<%=jsonObject.title %>"/>
        <!--Poster:  <%=jsonObject.poster_path%><br>-->
        <label for="resultReleaseDate">Release Date: </label>
        <input type="text" class="form-control form-control-lg" id="resultReleaseDate" value="<%=jsonObject.release_date %>"/>
        <label for="resultOverview">Plot Overview: </label>
        <input type="text" class="form-control form-control-xl" id="resultPlotOverview" value="<%=jsonObject.overview %>"/>
        <label for="resultIMDB">IMDB Id: </label>
        <input type="text" class="form-control form-control-lg" id="resultId" value="<%=jsonObject.id %>"/>
        <label for="resultRating">Average Rating: </label>
        <input type="text" class="form-control form-control-lg" id="resultRating" value="<%=jsonObject.vote_average%>"/>
        <label for="resultReview">Comments: </label>
        <input type="text" class="form-control form-control-lg" id="resultComment" placeholder="Leave a comment"/>
        <input type="hidden" id="currentUserId" name="user_id" value="<%=currentUser['_id'] %>"/>
        <button class= "btn btn-primary" id="favoriteButton" type='submit'>Save to favorites</button>
    </div>    
   <button type="button" class= "btn btn-primary" onclick="myFunction()">Find me another!</button>
        <%function myFunction() {location.reload(); }%>   
        
</form>    
 


       
   
        

    

</div>

<script src='main.js'></script>
<% include ./partials/footer.ejs %>

