

<!--var randomNumber          = Math.floor((Math.random() * 10) + 1)-->
<% console.log(jsonObject)%>
<% include ./partials/header.ejs %>
<% console.log('testing') %>

<div class="container">
<p><h1>Here's a real turd:</h1></P>
<form>
    <div class="form-group">
        
        <label for="resultTitle">Title: </label>
        <input type="text" class="form-control form-control-lg" id="resultTitle"  value="<%=jsonObject.title %>"/>
        <!--Poster:  <%=jsonObject.poster_path%><br>-->
        <label for="resultReleaseDate">Release Date: </label>
        <input type="text" class="form-control form-control-lg" id="resultReleaseDate" value="<%=jsonObject.release_date %>"/>
        <label for="resultOverview">Plot Overview: </label>
        <input type="text" class="form-control form-control-xl" id="resultPlotOverview" value="<%=jsonObject.overview %>"/>
        <label for="resultIMDB">IMDB Id: </label>
        <input type="text" class="form-control form-control-lg" id="resultIMDBId" value="<%=jsonObject.id %>"/>
        <label for="resultRating">Average Rating: </label>
        <input type="text" class="form-control form-control-lg" id="resultRating" value="<%=jsonObject.vote_average%>"/>
    </div>    
          

       

        <br><br>
        <button type="button" class= "btn btn-primary" id="favoriteButton" type='submit'>Save to favorites</button>
        
 

 <button type="button" class= "btn btn-primary" onclick="myFunction()">Find me another!</button>
        <%function myFunction() {location.reload();}%>
       
   
        

    

</div>
<% src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous" %>

<% include ./partials/footer.ejs %>

